// ==================================================
// typography
// ==================================================

$font-family-default: 'Open Sans', sans-serif;
$font-color-default: #272727;
$font-color-bold: #0f0f0f;
$font-color-muted: #525252;
$font-size-default: 1.6rem;
$line-height-default: 1.5;
